{% extends 'partials/base.html' %}
{% load static %}
{% block content %}
    <main class="main pages">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="{% url 'core:index' %}" rel="nofollow"><i class="fi-rs-home mr-5"></i>Home</a>
                    <span></span> About us
                </div>
            </div>
        </div>
        <div class="page-content pt-50">
            <div class="container">
                <div class="row">
                    <div class="col-xl-10 col-lg-12 m-auto">
                        <section class="row align-items-center mb-50">
                            <div class="col-lg-6">
                                <img src="{% static 'assets/imgs/page/about-1.png' %}" alt="" class="border-radius-15 mb-md-3 mb-lg-0 mb-sm-4" />
                            </div>
                            <div class="col-lg-6">
                                <div class="pl-25">
                                    <h2 class="mb-30">Welcome to DigiFarm</h2>
                                    <h4>Empowering smallholder farmers in Kenya</h4>
                                    <p class="mb-25">At DigiFarm, we believe in the transformative power of technology to uplift and empower smallholder farmers across Africa. Through innovative digital agricultural solutions, we aim to revolutionize the way farming is practiced, making it more sustainable, profitable, and resilient. </p>
                                    <p class="mb-50">Whether you're a smallholder farmer looking to improve your livelihood or a stakeholder in the agricultural value chain, DigiFarm welcomes you to join us in transforming African agriculture. Together, we can harness the power of technology to build a brighter future for farmers and their communities.</p>
                                    <div class="carausel-3-columns-cover position-relative">
                                        <div id="carausel-3-columns-arrows"></div>
                                        <div class="carausel-3-columns" id="carausel-3-columns">
                                            <img src="{% static 'assets/imgs/page/about-2.png' %}" alt="" />
                                            <img src="{% static 'assets/imgs/page/about-3.png' %}" alt="" />
                                            <img src="{% static 'assets/imgs/page/about-4.png' %}" alt="" />
                                            <img src="{% static 'assets/imgs/page/about-2.png' %}" alt="" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section class="text-center mb-50">
                            <h2 class="title style-3 mb-40">What We Provide?</h2>
                            <div class="row">
                                <div class="col-lg-4 col-md-6 mb-24">
                                    <div class="featured-card">
                                        <img src="{% static 'assets/imgs/theme/icons/icon-1.svg' %}" alt="" />
                                        <h4>Education</h4>
                                        <p style="text-align: left; font-size: 16px;">We provide access to comprehensive agricultural knowledge and training resources through our digital platform blogs. From best practices in crop cultivation to techniques for pest and disease management, we empower farmers with the skills and information they need to succeed.</p>
                                        
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 mb-24">
                                    <div class="featured-card">
                                        <img src="{% static 'assets/imgs/theme/icons/icon-2.svg' %}" alt="" />
                                        <h4>Financial Assistance:</h4>
                                        <p style="font-size: 16px; text-align: left;">Access to credit and financial services is crucial for smallholder farmers to invest in their farms and improve productivity. DigiFarm partners with financial institutions to offer tailored financial solutions, including microloans and insurance products, designed to meet their unique needs.</p>
                                        
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 mb-24">
                                    <div class="featured-card">
                                        <img src="{% static 'assets/imgs/theme/icons/icon-3.svg' %}" alt="" />
                                        <h4>Market Access</h4>
                                        <p style="font-size: 16px; text-align: left;">Connecting farmers to markets is essential for ensuring fair prices and maximizing profitability. Our platform facilitates direct linkages between farmers and buyers, eliminating middlemen and enabling farmers to access larger markets for their produce.</p>
                                        
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 mb-24">
                                    <div class="featured-card">
                                        <img src="{% static 'assets/imgs/theme/icons/icon-4.svg' %}" alt="" />
                                        <h4>Sustainability</h4>
                                        <p style="font-size: 16px; text-align: left;">We are committed to promoting sustainable farming practices that protect the environment and conserve natural resources. Through our platform, we educate farmers on sustainable agriculture techniques, such as agroforestry, organic farming, and water conservation, to ensure long-term viability and resilience.</p>
                                        
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 mb-24">
                                    <div class="featured-card">
                                        <img src="{% static 'assets/imgs/theme/icons/icon-5.svg' %}" alt="" />
                                        <h4>Community</h4>
                                        <p style="font-size: 16px; text-align: left;">DigiFarm fosters a sense of community among smallholder farmers, providing opportunities for knowledge sharing, collaboration, and peer support. By connecting farmers with each other and with agricultural experts, we create a supportive ecosystem where everyone can thrive.</p>
                                        
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 mb-24">
                                    <div class="featured-card">
                                        <img src="{% static 'assets/imgs/theme/icons/icon-6.svg' %}" alt="" />
                                        <h4>Crop Management</h4>
                                        <p style="font-size: 16px; text-align: left;">Effective crop management is key to optimizing yields and minimizing losses. DigiFarm provides farmers with digital tools and technologies for crop monitoring, soil analysis, and weather forecasting, enabling them to make data-driven decisions and improve farm productivity.</p>
                                        
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section class="row align-items-center mb-50">
                            <div class="row mb-50 align-items-center">
                                <div class="col-lg-7 pr-30">
                                    <img src="{% static 'assets/imgs/page/about-5.png' %}" alt="" class="mb-md-3 mb-lg-0 mb-sm-4" />
                                </div>
                                <div class="col-lg-5">
                                    <h4 class="mb-20 text-muted">Our performance</h4>
                                    <h1 class="heading-1 mb-40">Your number one partner for efarmerskit solution</h1>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4 pr-30 mb-md-5 mb-lg-0 mb-sm-5">
                                    <h3 class="mb-30">Who we are</h3>
                                    <p>At DigiFarm, we are passionate about revolutionizing the agricultural landscape in Africa through innovative digital solutions. With a deep understanding of the challenges faced by smallholder farmers and a commitment to harnessing the power of technology, we are dedicated to empowering farmers and transforming their livelihoods.</p>
                                </div>
                                <div class="col-lg-4 pr-30 mb-md-5 mb-lg-0 mb-sm-5">
                                    <h3 class="mb-30">Our mission</h3>
                                    <p>Our mission is to empower smallholder farmers across Kenya by providing them with access to cutting-edge digital agricultural solutions. We strive to enhance productivity, increase profitability, and promote sustainability in farming practices, ultimately leading to improved livelihoods and economic empowerment for farmers and their communities.</p>
                                </div>
                                <div class="col-lg-4">
                                    <h3 class="mb-30">Our vision</h3>
                                    <p>Our vision is a future where every smallholder farmer in Africa has the tools, knowledge, and resources they need to thrive. We envision a vibrant agricultural sector powered by technology, where farmers are equipped with the skills and support they need to overcome challenges and unlock their full potential.</p>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
            <section class="container mb-50 d-none d-md-block">
                <div class="row about-count">
                    <div class="col-lg-1-5 col-md-6 text-center mb-lg-0 mb-md-5">
                        <h1 class="heading-1"><span class="count">12</span>+</h1>
                        <h4>Glorious years</h4>
                    </div>
                    <div class="col-lg-1-5 col-md-6 text-center">
                        <h1 class="heading-1"><span class="count">36</span>+</h1>
                        <h4>Happy clients</h4>
                    </div>
                    <div class="col-lg-1-5 col-md-6 text-center">
                        <h1 class="heading-1"><span class="count">58</span>+</h1>
                        <h4>Projects complete</h4>
                    </div>
                    <div class="col-lg-1-5 col-md-6 text-center">
                        <h1 class="heading-1"><span class="count">24</span>+</h1>
                        <h4>Team advisor</h4>
                    </div>
                    <div class="col-lg-1-5 text-center d-none d-lg-block">
                        <h1 class="heading-1"><span class="count">26</span>+</h1>
                        <h4>Products Sold</h4>
                    </div>
                </div>
            </section>
            <div class="container">
                <div class="row">
                    <div class="col-xl-10 col-lg-12 m-auto">
                        <section class="mb-50">
                            <h2 class="title style-3 mb-40 text-center">Our Team</h2>
                            <div class="row">
                                <div class="col-lg-4 mb-lg-0 mb-md-5 mb-sm-5">
                                    <h6 class="mb-5 text-brand">Our Team</h6>
                                    <h1 class="mb-30">Meet Our Expert Team</h1>
                                    <!-- <p class="mb-30">Proin ullamcorper pretium orci. Donec necscele risque leo. Nam massa dolor imperdiet neccon sequata congue idsem. Maecenas malesuada faucibus finibus.</p>
                                    <p class="mb-30">Proin ullamcorper pretium orci. Donec necscele risque leo. Nam massa dolor imperdiet neccon sequata congue idsem. Maecenas malesuada faucibus finibus.</p> -->
                                    <a href="#" class="btn">View All Members</a>
                                </div>
                                <div class="col-lg-8">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6">
                                            <div class="team-card">
                                                <img src="{% static 'assets/imgs/page/about-6.png' %}" alt="" />
                                                <div class="content text-center">
                                                    <h4 class="mb-5">O. Topister</h4>
                                                    <span>CEO & Co-Founder</span>
                                                    <div class="social-network mt-20">
                                                        <a href="#"><img src="{% static 'assets/imgs/theme/icons/icon-facebook-brand.svg' %}" alt="" /></a>
                                                        <a href="#"><img src="{% static 'assets/imgs/theme/icons/icon-twitter-brand.svg' %}" alt="" /></a>
                                                        <a href="#"><img src="{% static 'assets/imgs/theme/icons/icon-instagram-brand.svg' %}" alt="" /></a>
                                                        <a href="#"><img src="{% static 'assets/imgs/theme/icons/icon-youtube-brand.svg' %}" alt="" /></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <div class="team-card">
                                                <img src="{% static 'assets/imgs/page/about-8.png' %}" alt="" />
                                                <div class="content text-center">
                                                    <h4 class="mb-7">Topister O.</h4>
                                                    <span>Head Engineer</span>
                                                    <div class="social-network mt-20">
                                                        <a href="#"><img src="{% static 'assets/imgs/theme/icons/icon-facebook-brand.svg' %}" alt="" /></a>
                                                        <a href="#"><img src="{% static 'assets/imgs/theme/icons/icon-twitter-brand.svg' %}" alt="" /></a>
                                                        <a href="#"><img src="{% static 'assets/imgs/theme/icons/icon-instagram-brand.svg' %}" alt="" /></a>
                                                        <a href="#"><img src="{% static 'assets/imgs/theme/icons/icon-youtube-brand.svg' %}" alt="" /></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock content %}