{% extends 'partials/base.html' %}
{% load static %}
{% block content %}

    <main class="main">
        <div class="page-header mt-30 mb-50">
            <div class="container">
                <div class="archive-header">
                    <div class="row align-items-center">
                        <div class="col-xl-3">
                            <h1 class="mb-15">{{category.title}}</h1>
                            <div class="breadcrumb">
                                <a href="{% url 'core:index' %}" rel="nofollow"><i class="fi-rs-home mr-5"></i>Home</a>
                                <span></span> <a href="{% url 'core:product-list' %}" rel="nofollow">shop</a> <span></span> {{category.title}}
                            </div>
                        </div>
                        <!-- eof .col -->
                    </div>
                </div>
            </div>
        </div>
        <div class="container mb-30">
            <div class="row">
                <div class="col-12">
                    <div class="shop-product-fillter">
                        <div class="totall-product">
                            <p>We found <strong class="text-brand">{{products.count}}</strong> item{{products.count | pluralize}} for you!</p>
                        </div>
                        
                    </div>
                    <div class="row product-grid">
                        {% for prod in products %}
                            <div class="col-lg-1-5 col-md-4 col-12 col-sm-6">
                                        <div class="product-cart-wrap mb-30">
                                            <div class="product-img-action-wrap">
                                                <div class="product-img product-img-zoom">
                                                    <a href="{% url 'core:product-list-category' category.categoryId %}">
                                                        <img class="default-img" src="{{prod.image.url}}" alt="product image" />
                                                        <img class="hover-img" src="{{prod.image.url}}" alt="product image" />
                                                    </a>
                                                </div>
                                                
                                                <div class="product-badges product-badges-position product-badges-mrg">
                                                    <span class="hot">-{{prod.get_discount_percentage | floatformat:0}}%</span>
                                                </div>
                                            </div>
                                            <div class="product-content-wrap">
                                                <!-- <div class="product-category">
                                                    <a href="{% url 'core:product-list-category' prod.category.categoryId %}">{{prod.category.title}}</a>
                                                </div> -->
                                                <h2><a href="{% url 'core:product-detail' prod.productId %}">{{prod.title}}</a></h2>
                                                <div class="product-rate-cover">
                                                    <div class="product-rate d-inline-block">
                                                        <div class="product-rating" style="width: 90%"></div>
                                                    </div>
                                                    <span class="font-small ml-5 text-muted"> (4.0)</span>
                                                </div>
                                                <div>
                                                    <span class="font-small text-muted">By <a href="{% url 'core:farmer-detail' prod.farmer.farmerId %}">{{prod.farmer.title}}</a></span>
                                                </div>
                                                
                                                <div class="product-card-bottom">
                                                    <div class="product-price">
                                                        <span>ksh.</span><span class="curr-prod-price-{{prod.id}}">{{prod.price}}</span>

                                                        <span class="old-price">ksh.{{prod.old_price}}</span>
                                                    </div>
                                                    <div class="add-cart">
                                                        <input type="hidden" value="1" id="product-quantity" class="product-quantity-{{ prod.id }}">
                                                        <input type="hidden" class="product-productId-{{ prod.id }}" value="{{ prod.productId }}">
                                                        <input type="hidden" class="product-image-{{ prod.id }}" value="{{ prod.image.url }}">
                                                        <input type="hidden" class="product-id-{{ prod.id }}" value="{{ prod.id }}">
                                                        <input type="hidden" class="product-title-{{ prod.id }}" value="{{ prod.title }}">
                                                        <button class="add add-to-cart-btn" data-index="{{prod.id}}" id="add-to-cart-btn" style="border: none;" ><i class="fi-rs-shopping-cart mr-5"></i>Add </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                            </div>
                        {% endfor %}                        
                        <!--end product card-->
                    </div>
                    <!--product grid-->
                   
                    
                </div>
            </div>
        </div>
    </main>
{% endblock %}