
{% extends 'partials/base.html' %}
{% load static %}
{% block content %}
    <!--End header-->
    <main class="main pages">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="index.html" rel="nofollow"><i class="fi-rs-home mr-5"></i>Home</a>
                    <span></span> Pages <span></span> My Account
                </div>
            </div>
        </div>
        <div class="page-content pt-150 pb-150">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 m-auto">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="dashboard-menu">
                                    <ul class="nav flex-column" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" id="profile-tab" data-bs-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false"><i class="fi-rs-user mr-10"></i>Profile</a>
                                        </li>

                                        <li class="nav-item">
                                            <a class="nav-link" id="dashboard-tab" data-bs-toggle="tab" href="#dashboard" role="tab" aria-controls="dashboard" aria-selected="false"><i class="fi-rs-settings-sliders mr-10"></i>Dashboard</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="orders-tab" data-bs-toggle="tab" href="#orders" role="tab" aria-controls="orders" aria-selected="false"><i class="fi-rs-shopping-bag mr-10"></i>Orders</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="track-orders-tab" data-bs-toggle="tab" href="#track-orders" role="tab" aria-controls="track-orders" aria-selected="false"><i class="fi-rs-shopping-cart-check mr-10"></i>Track Your Order</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="address-tab" data-bs-toggle="tab" href="#address" role="tab" aria-controls="address" aria-selected="true"><i class="fi-rs-marker mr-10"></i>My Address</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="account-detail-tab" data-bs-toggle="tab" href="#account-detail" role="tab" aria-controls="account-detail" aria-selected="true"><i class="fi-rs-user mr-10"></i>Account details</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="{% url 'userauths:logout' %}"><i class="fi-rs-sign-out mr-10"></i>Logout</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="tab-content account dashboard-content pl-50">
                                    <div class="tab-pane fade active show" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                        <div class="card">
                                           
                                            <div class="card-header border-bottom">
                                                <h3 class="mb-0">My profile</h3>
                                            </div>
                                            
                                            <div class="card-body mb-2" style="display: flex; align-items: center; gap: 10px;">
                                                <div>
                                                    {% if profile.image %}
                                                    <span><img src="{{profile.image.url}}" alt="User Profile" style="height: 150px; width: 150px; object-fit: cover; border-radius: 50%;"></span>

                                                    {% else %}

                                                    <span><img src="https://www.shutterstock.com/image-vector/default-avatar-profile-icon-social-600nw-1677509740.jpg" alt="User Profile" style="height: 150px; width: 150px; object-fit: cover; border-radius: 50%;"></span>

                                                    {% endif %}

                                                </div>
                                                <div style="width: 500px;">
                                                <label for="name" class="text-heading" style="font-size: medium;">FullName:</label>
                                                <input type="text" name="name" value="{{profile.fullname|title}}">
                                                <label for="bio" class="text-heading" style="font-size: medium;">Bio:</label>
                                                <input type="text" name="bio" value="{{profile.bio}}">
                                                <label for="phone" class="text-heading" style="font-size: medium;">Phone Number:</label>
                                                <input type="text" name="phone" value="{{profile.phone}}"> <br><br>

                                                {% if profile.verified == True %}
                                                    <div class="p-4 border rounded mb-4">
                                                        
                                                        <span class="text-heading">Verified<i class="fas fa-check-circle text-success"></i></span>
                                                    </div>

                                                {% else %}
                                                <div class="p-4 border rounded mb-4">
                                                    <span class="text-heading mb-4">Verified <i class="fa fa-times text-danger"></i></span>
                                                </div>

                                                {% endif %}

                                                <div class="p-4 border rounded mb-4" style="border: none;">
                                                    <a href="{% url 'userauths:profile-edit' %}" class="btn btn-success" style="color: white;">Edit profile</a>
                                                </div>
                                                </div>

                                                
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="dashboard" role="tabpanel" aria-labelledby="dashboard-tab">
                                        <div class="card">
                                            <div class="card-header">
                                                <h3 class="mb-0">Hello {{request.user.username|title}}!</h3>
                                            </div>
                                            <div class="card-body">
                                                <p>
                                                    From your account dashboard. you can easily check &amp; view your <a href="#">recent orders</a>,<br />
                                                    manage your <a href="#">shipping and billing addresses</a> and <a href="#">edit your password and account details.</a>
                                                </p>
                                            </div>
                                            <!-- <div class="mt-4">
                                                <p>{{ month}}</p>
                                                <p>{{ total_orders }}</p>

                                            </div> -->
                                            <div>
                                                <canvas style="height: 150px;" id="myChart"></canvas>
                                            </div>
                                              
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="orders" role="tabpanel" aria-labelledby="orders-tab">
                                        <div class="card">
                                            <div class="card-header">
                                                <h3 class="mb-0">Your Orders</h3>
                                            </div>
                                            <div class="card-body">
                                                <div class="table-responsive">
                                                    <table class="table">
                                                        <thead>
                                                            <tr>
                                                                <th>Order</th>
                                                                <th>Date</th>
                                                                <th>Product status</th>
                                                                <th>Payment status</th>
                                                                <th>Total</th>
                                                                <th>Actions</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% for order in orders %}
                                                            <tr>
                                                                <td>Invoice_NO{{order.id}}</td>
                                                                <td>{{order.order_date}}</td>
                                                                <td>{{order.product_status|title}}</td>
                                                                {% if order.paid_status == True %}
                                                                <td><i class="fas fa-check-circle text-success"></i></td>
                                                                {% else %}
                                                                <td class="text-danger">x</td>

                                                                {% endif %}
                                                                <td>${{order.price | floatformat:0}}</td>
                                                                <td><a href="{% url 'core:order-detail' order.id %}" class="btn-small d-block">View</a></td>
                                                            </tr>
                                                            {% endfor %}
                                                           
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="track-orders" role="tabpanel" aria-labelledby="track-orders-tab">
                                        <div class="card">
                                            <div class="card-header">
                                                <h3 class="mb-0">Orders tracking</h3>
                                            </div>
                                            <div class="card-body contact-from-area">
                                                <p>To track your order please enter your OrderID in the box below and press "Track" button. This was given to you on your receipt and in the confirmation email you should have received.</p>
                                                <div class="row">
                                                    <div class="col-lg-8">
                                                        <form class="contact-form-style mt-30 mb-50" action="#" method="post">
                                                            <div class="input-style mb-20">
                                                                <label>Order ID</label>
                                                                <input name="order-id" placeholder="Found in your order confirmation email" type="text" />
                                                            </div>
                                                            <div class="input-style mb-20">
                                                                <label>Billing email</label>
                                                                <input name="billing-email" placeholder="Email you used during checkout" type="email" />
                                                            </div>
                                                            <button class="submit submit-auto-width" type="submit">Track</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="address" role="tabpanel" aria-labelledby="address-tab">
                                        <div>
                                            <form class="mb-4" method="POST">
                                                {% csrf_token %}
                                                <div class="card-hdeader">
                                                    <h5>Add address</h5>
                                                </div>
                                                <div class="row">
                                                    <div class="form-group col-md-6">
                                                        <label for="country" class="text-heading">Country:</label>
                                                        <input placeholder="Country" required="" class="form-control" name="country" type="text" />
                                                    </div>
                                                    <div class="form-group col-md-6">
                                                        <label for="city" class="text-heading">City:</label>
                                                        <input placeholder="City" required="" class="form-control" name="city" type="text" />
                                                    </div>
                                                    <div class="form-group col-md-6">
                                                        <label for="address" class="text-heading">Full Address:</label>
                                                        <input placeholder="Full Address" required="" class="form-control" name="address" type="text" />
                                                    </div>
                                                    <div class="form-group col-md-6">
                                                        <label for="mobile" class="text-heading">Mobile:</label>
                                                        <input placeholder="Mobile" required="" class="form-control" name="mobile" />
                                                    </div>
                                                    <div class="col-md-12">
                                                        <button type="submit" class="btn btn-fill-out submit font-weight-bold" name="submit" value="Submit">Save Address</button>
                                                    </div>
                                                </div>
                                            </form>
                                            
                                        </div>
                                        
                                        <div class="row">
                                            {% for addr in address %}
                                            <div class="col-lg-6">
                                                <div class="card mb-3 mb-lg-0">
                                                    <div class="card-header">
                                                        <h5 class="mb-0">Address {{ forloop.counter }}</h5>
                                                    </div>                                                  

                                                    <div class="card-body">
                                                        <address>
                                                            <p><label for="country">Country:</label><span name="country"> {{addr.country}}</span></p>
                                                            <p><label for="city">City:</label><span name="city"> {{addr.city}}</span></p>
                                                            <p><label for="address">Full Address:</label><span name="address"> {{addr.address}}</span></p>
                                                            <p><label for="mobile">Mobile:</label><span name="mobile"> {{addr.mobile}}</span></p>
                                                            <!-- <p><label for="id">Id:</label><span name="id"> {{addr.id}}</span></p> -->
                                                            <!-- {% if  addr.status == True %}
                                                            <p><label for="add-status">Verified Address:</label><span name="add-status" class="text-brand"> {{addr.status}}</span></p>

                                                            {% else %}
                                                            <p><label for="add-status">Verified Address:</label><span name="add-status" class="text-danger"> {{addr.status}}</span></p>

                                                            {% endif %} -->
                                                        </address>
                                                        {% if addr.status == True%}

                                                        <i data-addr-id="{{addr.id}}" class="fa fa-check-circle text-success check{{addr.id}} check"></i>
                                                        <button data-addr-id="{{addr.id}}" style="display: none;" class="btn make-default-address button{{addr.id}} action_btn">Make default</button>

                                                        {% else %}
                                                        <i data-addr-id="{{addr.id}}" style="display: none;" class="fa fa-check-circle text-success check check{{addr.id}}"></i>
                                                        
                                                        <button data-addr-id="{{addr.id}}" class="btn make-default-address button{{addr.id}} action_btn">Make default</button>
                                                        
                                                        {% endif %}
                                                        
                                                    </div>
                                                    
                                                </div>
                                            </div>
                                            {% endfor %}
                                    
                                        </div>
                                        
                                    </div>
                                    
                                    <div class="tab-pane fade" id="account-detail" role="tabpanel" aria-labelledby="account-detail-tab">
                                        <div class="card">
                                            <div class="card-header">
                                                <h5>Account Details</h5>
                                            </div>
                                            <div class="card-body">
                                                <p>Already have an account? <a href="{% url 'userauths:logout' %}">Log in instead!</a></p>
                                                <form method="post" name="enq">
                                                    <div class="row">
                                                        <div class="form-group col-md-6">
                                                            <label>First Name <span class="required">*</span></label>
                                                            <input required="" class="form-control" name="name" type="text" />
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            <label>Last Name <span class="required">*</span></label>
                                                            <input required="" class="form-control" name="phone" />
                                                        </div>
                                                        <div class="form-group col-md-12">
                                                            <label>Display Name <span class="required">*</span></label>
                                                            <input required="" class="form-control" name="dname" type="text" />
                                                        </div>
                                                        <div class="form-group col-md-12">
                                                            <label>Email Address <span class="required">*</span></label>
                                                            <input required="" class="form-control" name="email" type="email" />
                                                        </div>
                                                        <div class="form-group col-md-12">
                                                            <label>Current Password <span class="required">*</span></label>
                                                            <input required="" class="form-control" name="password" type="password" />
                                                        </div>
                                                        <div class="form-group col-md-12">
                                                            <label>New Password <span class="required">*</span></label>
                                                            <input required="" class="form-control" name="npassword" type="password" />
                                                        </div>
                                                        <div class="form-group col-md-12">
                                                            <label>Confirm Password <span class="required">*</span></label>
                                                            <input required="" class="form-control" name="cpassword" type="password" />
                                                        </div>
                                                        <div class="col-md-12">
                                                            <button type="submit" class="btn btn-fill-out submit font-weight-bold" name="submit" value="Submit">Save Change</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script>
        const labels = {{ month|safe }}

        const data = {
          labels: labels,
          datasets: [{
            label: 'Total Orders / month',
            backgroundColor: 'rgb(59, 183, 126)',
            borderColor: 'rgb(59, 183, 126)',
            data: {{ total_orders|safe }}
          }],

        };



        const config = {
          type: 'bar',
          data: data,
          options: {
            tooltips: {enabled: false},
            hover: {mode: null},
          }
        };

        const myChart = new Chart(
            document.getElementById('myChart'),
            config
        );
      </script>
   
      
{% endblock content %}