{% extends 'partials/base.html' %}
{% load static %}
{% block content %}
    <!--End header-->
    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="{% url 'core:index' %}" rel="nofollow"><i class="fi-rs-home mr-5"></i>Home</a>
                    <span></span> Read More <span></span> {{experts.title}}
                </div>
            </div>
        </div>
        <div class="container mb-30">
            <div class="archive-header-3 mt-30 mb-80" style="background-color: #3BB77E">
                <div class="archive-header-3-inner">
                    <div class="vendor-logo mr-50">
                        <img src="{{experts.image.url}}" alt="experts image" style="border-radius: 50%;"/>
                    </div>
                    <div class="vendor-content">
                        <div class="product-category">
                            <span class="text-white">Since {{experts.date|date:"Y"}}</span>
                        </div>
                        <h3 class="mb-5 text-white"><a href="{% url 'core:expert-detail' experts.expertId %}" class="text-white">{{experts.title}}</a></h3>

                        <div class="mt-10">
                            <h4 class="font-small total-product text-white">Profession: {{experts.profession}}</h4>
                        </div><br>
                        
                        <div class="row">
                            <div class="col-lg-10">
                                <div class="vendor-des mb-15">
                                    <p class="font-sm descr-white text-white" style="color: white !important;">{{experts.description | safe}}</p>                                
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="vendor-info text-white mb-15">
                                    <ul class="font-sm">
                                        <li><img class="mr-5" src="{% static 'assets/imgs/theme/icons/icon-location.svg' %}" alt="" /><strong>Address: </strong> <span>{{experts.address}}</span></li>
                                        <li><img class="mr-5" src="{% static 'assets/imgs/theme/icons/icon-contact.svg' %}" alt="" /><strong>Call Us:</strong><span>{{experts.contact}}</span></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="follow-social">
                                    <h6 class="mb-15 text-white">Follow me</h6>
                                    <ul class="social-network">
                                        <li class="hover-up">
                                            <a href="{{experts.twitter}}">
                                                <img src="{% static 'assets/imgs/theme/icons/social-tw.svg' %}" alt="" />
                                            </a>
                                        </li>
                                        <li class="hover-up">
                                            <a href="{{experts.facebook}}">
                                                <img src="{% static 'assets/imgs/theme/icons/social-fb.svg' %}" alt="" />
                                            </a>
                                        </li>
                                        <li class="hover-up">
                                            <a href="{{experts.instagram}}">
                                                <img src="{% static 'assets/imgs/theme/icons/social-insta.svg' %}" alt="" />
                                            </a>
                                        </li>
                                        <li class="hover-up">
                                            <a href="{{experts.pinterest}}">
                                                <img src="{% static 'assets/imgs/theme/icons/social-pin.svg' %}" alt="" />
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </main>
{% endblock content %}