{% extends 'partials/base.html' %}
{% load static %}
{% block content %}

    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="{% url 'core:index' %}" rel="nofollow"><i class="fi-rs-home mr-5"></i>Home</a>
                    <span></span> Shop
                </div>
            </div>
        </div>
        <div class="container mb-30 mt-30">
            <div class="row">
                <div class="col-lg-12">
                    <a class="shop-filter-toogle" href="#">
                        <span class="fi-rs-filter mr-5"></span>
                        Filters
                        <i class="fi-rs-angle-small-down angle-down"></i>
                        <i class="fi-rs-angle-small-up angle-up"></i>
                    </a>
                    <div class="shop-product-fillter-header">
                        <div class="row">
                            <div class="col-xl-3 col-lg-6 col-md-6 mb-lg-0 mb-md-2 mb-sm-2">
                                <div class="card">
                                    <h5 class="mb-30">By Categories</h5>
                                    <div class="categories-dropdown-wrap font-heading">
                                        <ul>
                                            {% for category in categories %}
                                            <li>
                                                <input data-filter="category" class="form-check-input filter-checkbox" type="checkbox" name="checkbox" id="exampleCheckbox2" value="{{ category.id }}" />
                                                &nbsp;&nbsp;
                                                <a href="{% url 'core:product-list-category' category.categoryId %}"> <img src="{{category.image.url}}" alt="" />{{ category.title }}</a>
                                            </li>
                                            {% endfor %}
                                            
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-6 col-md-6 mb-lg-0 mb-md-2 mb-sm-2">
                                <div class="card">
                                    <h5 class="mb-30">By Farmers</h5>
                                    <div class="d-flex">
                                        <div class="customeee-checkbox mr-80">
                                            {% for farmer in farmers %}
                                            <input class="form-check-input filter-checkbox" data-filter="farmer" type="checkbox" name="checkbox" id="exampleCheckbox1" value="{{ farmer.farmerId }}" />
                                            <label class="form-check-label" for="exampleCheckbox1"><span>{{farmer.title}}</span></label>
                                            <br />
                                            {% endfor %}
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-xl-3 col-lg-6 col-md-6 mb-lg-0 mb-md-5 mb-sm-5">
                                <div class="card">
                                    <h5 class="mb-10">By Price</h5>
                                    <div class="sidebar-widget price_range range">
                                        <div class="price-filter mb-20">
                                            <div class="price-filter-inner">
                                                <div id="slidder-range" class="mb-20"></div>
                                                <input type="range" name="ranDge" value="{{ min_max_price.price__min|floatformat:2 }}" class="slider-range" id="range" min="{{ min_max_price.price__min }}" max="{{ min_max_price.price__max }}" oninput="max_price.value=this.value">
                                                <div class="d-flex justify-content-between">
                                                    <div class="caption">From: <strong id="slider-range-value1" class="text-brand" style="font-size: 14px;">ksh.{{ min_max_price.price__min|floatformat:0 }}</strong></div>
                                                    <div class="caption">To: <strong id="slider-range-value2" class="text-brand" style="font-size: 14px;">ksh.{{ min_max_price.price__max|floatformat:0 }}</strong></div>
                                                </div>
                                                <input type="number"  name="" value="{{ min_max_price.price__min|floatformat:0 }}" id="max_price" min="{{ min_max_price.price__min }}" max="{{ min_max_price.price__max }}" placeholder="Enter price" onkeyup="range.value=this.value">
                                            </div>
                                        </div>
                                        <div class="custome-checkbox">
                                            <button id="price-filter-btn" type="button" class="btn mt-20 w-100">Filter By Price</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="shop-product-fillter">
                        <div class="totall-product">
                            <p>We found <strong class="text-brand">{{products.count}}</strong> items for you!</p>
                        </div>
                        
                    </div>
                    <div class="row product-grid" id="filtered-product">

                        {% for prod in products %}
                            <div class="col-lg-1-5 col-md-4 col-12 col-sm-6">
                                        <div class="product-cart-wrap mb-30">
                                            <div class="product-img-action-wrap">
                                                <div class="product-img product-img-zoom">
                                                    <a href="{% url 'core:product-detail' prod.productId %}">
                                                        <img class="default-img" src="{{prod.image.url}}" alt="product image" />
                                                        <img class="hover-img" src="{{prod.image.url}}" alt="product image" />
                                                    </a>
                                                </div>
                                                
                                                <div class="product-badges product-badges-position product-badges-mrg">
                                                    <span class="hot">-{{prod.get_discount_percentage | floatformat:0}}%</span>
                                                </div>
                                            </div>
                                            <div class="product-content-wrap">
                                                <div class="product-category">
                                                    <a href="{% url 'core:product-list-category' prod.category.categoryId %}">{{prod.category.title}}</a>
                                                </div>


                                                
                                                <h2><a href="{% url 'core:product-detail' prod.productId %}">{{prod.title}}</a></h2>
                                                <div class="product-rate-cover">
                                                    <div class="product-rate d-inline-block">
                                                        <div class="product-rating" style="width: 90%"></div>
                                                    </div>
                                                    <span class="font-small ml-5 text-muted"> (4.0)</span>
                                                </div>
                                                <div>
                                                    <span class="font-small text-muted">By <a href="{% url 'core:farmer-detail' prod.farmer.farmerId %}">{{prod.farmer.title}}</a></span>
                                                </div>
                                        

                                               

                                                <div class="product-card-bottom">
                                                    <div class="product-price">
                                                        <span style="font-size: 14px;">ksh.</span><span class="curr-prod-price-{{prod.id}}" style="font-size: 14px;">{{prod.price}}</span>

                                                        <span class="old-price" style="font-size: 14px;">ksh.{{prod.old_price}}</span>
                                                    </div>
                                                    <div class="add-cart">
                                                        <input type="hidden" value="1" id="product-quantity" class="product-quantity-{{ prod.id }}">
                                                        <input type="hidden" class="product-productId-{{ prod.id }}" value="{{ prod.productId }}">
                                                        <input type="hidden" class="product-image-{{ prod.id }}" value="{{ prod.image.url }}">
                                                        <input type="hidden" class="product-id-{{ prod.id }}" value="{{ prod.id }}">
                                                        <input type="hidden" class="product-title-{{ prod.id }}" value="{{ prod.title }}">

                                                        <div class="d-flex">
                                                            <button class="add add-to-cart-btn" data-index="{{prod.id}}" id="add-to-cart-btn" style="border: none;" ><i class="fi-rs-shopping-cart mr-5"></i>Add </button>
                                                            <button style="border: none; background: none;" class="add-to-wishlist" data-product-item="{{ prod.id }}"><i class="fi-rs-heart" style="fill: aqua;"></i></button>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                            </div>
                        {% endfor %}
                        <!--end product card-->
                        
                    </div>
                    <!--product grid-->
                    
                    
                </div>
            </div>
        </div>
    </main>


{% endblock content %}