{% extends 'partials/base.html' %}
{% load static %}
{% block content %}
    <main class="main pages">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="{% url 'core:index' %}" rel="nofollow"><i class="fi-rs-home mr-5"></i>Home</a>
                    <span></span> Purchase Guide
                </div>
            </div>
        </div>
        <div class="page-content pt-50">
            <div class="container">
                <div class="row">
                    <div class="col-xl-10 col-lg-12 m-auto">
                        <div class="row">
                            <div class="col-lg-9">
                                <div class="single-page pr-30 mb-lg-0 mb-sm-5">
                                    <div class="single-header style-2">
                                        <h2 class="text-center">Our Purchase Guide</h2>    
                                    </div>
                                    <figure class="border-radius-15 mb-30">
                                        <img class="border-radius-15" src="{% static 'assets/imgs/page/guide-1.png' %}" alt="" />
                                    </figure>
                                    <div class="single-content mb-50">
                                        <h3>1. Account Registering</h3>
                                        <p>Visit our platform's website and click on the "Sign Up" or "Register" button.</p>
                                        <p>Fill in the required information:</p>
                                        <ul class="mb-30">
                                            <li>First Name (required)</li>
                                            <li>Last Name (required)</li>                                            
                                            <li>Email address (required)</li>
                                            <li>Password (required)</li>
                                            <li>Confirm Password (required)</li>
                                        </ul>
                                        <p>Click on "Sign Up".</p>
                                        <h3>2. Select Product</h3>
                                        <p>Browse through our product catalog or use the search bar to find the product you want to purchase.</p>
                                        <p>Click on the product to view more details such as price, description, and available variations.</p>
                                        <p>Select the desired quantity and any other customizable options.</p>
                                        <p>Click on the "Add to Cart" button to proceed.</p>
                                        <h3>3. Confirm Order Content</h3>
                                        <p>Review the items in your shopping cart to ensure they are correct.</p>
                                        <p>Review the total price including any taxes and shipping fees.</p>
                                        <p>Proceed to checkout by clicking on the "Checkout" button.</p>
                                        <h3>4.Transaction Completed</h3>
                                        <p>Review the order summary one last time to ensure accuracy.</p>
                                        <p>Choose your preferred payment method from the available options (Credit card, PayPal, Pay on delivery).</p>
                                        <p>Enter your payment details securely.</p>
                                        <p>Click on the Checkout button to finalize the transaction.</p>
                                        <p>You will receive an order confirmation message with details of your purchase.</p>
                                        <h3>5. Checkout</h3>
                                        <p>At the checkout stage, you will provide your shipping address and any additional instructions for delivery.</p>
                                        <p>Review the shipping costs and estimated delivery date.</p>
                                        <p>Complete the checkout process by providing any necessary information and confirming your order.</p>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock content %}
