{% extends 'partials/base.html' %}
{% load static %}
<!-- {% include 'head.html' %} -->
{% block content %}

<style>
  /* Custom CSS to adjust radio button size */
  .form-check-input[type="radio"] {
    width: 1em;
    height: 1em;
  }

  /* Custom CSS to reset radio button appearance */
  .form-check-input[type="radio"] {
    -webkit-appearance: radio !important;
    appearance: radio !important;
  }

  /* Custom CSS for button hover effect */
  .btn-signUp:hover {
    background-color: #3BB77E !important;
    color: black !important;
  }
</style>



<section class="site-section">
  <div class="container">
    <div class="row justify-content-center mb-50">
      <div class="col-lg-12 mb-5">
        <h2 class="mb-4 text-center">Sign Up To DigiFarm As Buyer</h2>
        {% include 'messages.html' %}


        {% if form.errors %}
        {% for field in form %}
        {% for error in field.errors %}
        <div class="alert alert-danger alert-dismissable">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <strong>{{ field.label|capfirst }} {{ error|escape }}</strong>
        </div>
        {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
        <div class="alert alert-danger alert-dismissable">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <strong>{{ error|escape }}</strong>
        </div>
        {% endfor %}
        {% endif %}
        <form method="POST" action="" class="p-4 border rounded">
          {% csrf_token %}
          {% for field in form %}
          {% if field.name == 'gender' %}

          <div class="row form-group mb-6">
            <div class="col-md-12 mb-3 mb-md-0">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="gender" id="male" value="M">
                <label class="form-check-label" for="male">Male</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="gender" id="female" value="F">
                <label class="form-check-label" for="female">Female</label>
              </div>
            </div>
          </div>
         

          {% else %}

          <div class="row form-group">
            <div class="col-md-12 mb-3 mb-md-0">
              <label class="text-black" for="id_{{ field.name }}">{{ field.label }}</label>
              <input type="{{ field.field.widget.input_type }}" class="form-control" name="{{ field.name }}"
                id="id_{{ field.name }}" placeholder="{{ field.field.widget.attrs.placeholder }}">
            </div>
          </div>

          {% endif %}
          {% endfor %}
          <div class="row form-group">
            <div class="col-md-12">
              <input type="submit" value="Sign Up" class="btn px-4 btn-primary text-brand btn-signUp">
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
</section>

{% endblock content%}