{% extends 'partials/base.html' %}
{% load static %}
{% block content %}


<main class="main" id="async-cart-list">
  <div class="page-header breadcrumb-wrap">
      <div class="container">
          <div class="breadcrumb">
              <a href="/" rel="nofollow"><i class="fi-rs-home mr-5"></i>Home</a>
              <span></span> login
              
          </div>
      </div>
  </div>
<section class="site-section">
  <div class="container">
    <div class="row">

      <div class="col-lg-8 mb-5" style="margin-left: 150px;">
        <h3 class="text-black text-center">DigiFarm Login Page</h3><br><br>

        {% include 'messages.html' %}

        {% if form.errors %}
        {% for field in form %}
        {% for error in field.errors %}
        <div class="alert alert-danger alert-dismissable">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <strong>{{ error|escape }}</strong>
        </div>
        {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
        <div class="alert alert-danger alert-dismissable">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <strong>{{ error|escape }}</strong>
        </div>
        {% endfor %}
        {% endif %}
        <form method="POST" action="#" class="p-4 border rounded">
          
          {% csrf_token %}
          {% for field in form %}
          <div class="row form-group">
            <div class="col-md-12 mb-3 mb-md-0">
              
              <label class="text-black" for="id_{{ field.name }}">{{ field.label }}</label>
              <input type="{{ field.field.widget.input_type }}" class="form-control" name="{{ field.name }}"
                id="id_{{ field.name }}" placeholder="{{ field.field.widget.attrs.placeholder }}">
            </div>
          </div>

          {% endfor %}
          <div class="row form-group">
            <div class="col-md-12">
              <input type="submit" value="Sign In" class="btn px-4 text-black" style="background-color: #3BB77E;">
            </div>
          </div>
        </form>
      </div>

    </div>
  </div>
</section>
</main>


{% endblock %}